{
  "openapi": "3.0.3",
  "info": {
    "title": "Crypto Data API Menu",
    "version": "1.0",
    "description": "Multi-source crypto data APIs"
  },
  "servers": [
    {
      "url": "https://open-api-v4.coinglass.com",
      "description": "CoinGlass API"
    },
    {
      "url": "https://api.binance.com",
      "description": "Binance Spot API"
    },
    {
      "url": "https://fapi.binance.com",
      "description": "Binance Futures API"
    }
  ],
  "components": {
    "securitySchemes": {
      "coinglassApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "CG-API-KEY"
      }
    }
  },
  "paths": {
    "/api/futures/liquidation/aggregated-history": {
      "get": {
        "operationId": "coinglass_liquidations",
        "summary": "Historical liquidation data across exchanges",
        "tags": ["CoinGlass"],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1d",
              "enum": ["1h", "4h", "12h", "1d"]
            }
          },
          {
            "name": "exchange_list",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "BINANCE,OKX,BYBIT"
            }
          }
        ],
        "security": [{"coinglassApiKey": []}],
        "responses": {
          "200": {
            "description": "Liquidation data"
          }
        }
      }
    },
    "/api/v3/ticker/price": {
      "get": {
        "operationId": "binance_spot_price",
        "summary": "Current spot price for trading pair",
        "tags": ["Binance"],
        "servers": [{"url": "https://api.binance.com"}],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price data"
          }
        }
      }
    },
    "/api/v3/ticker/24hr": {
      "get": {
        "operationId": "binance_24h_stats",
        "summary": "24-hour price statistics",
        "tags": ["Binance"],
        "servers": [{"url": "https://api.binance.com"}],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "24h statistics"
          }
        }
      }
    },
    "/fapi/v1/fundingRate": {
      "get": {
        "operationId": "binance_funding_rate",
        "summary": "Current funding rate for perpetual futures",
        "tags": ["Binance Futures"],
        "servers": [{"url": "https://fapi.binance.com"}],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate data"
          }
        }
      }
    },
    "/fapi/v1/openInterest": {
      "get": {
        "operationId": "binance_open_interest",
        "summary": "Current open interest for futures",
        "tags": ["Binance Futures"],
        "servers": [{"url": "https://fapi.binance.com"}],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open interest data"
          }
        }
      }
    },
    "/futures/data/globalLongShortAccountRatio": {
      "get": {
        "operationId": "binance_long_short_ratio",
        "summary": "Long/Short account ratio",
        "tags": ["Binance Futures"],
        "servers": [{"url": "https://fapi.binance.com"}],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5m",
              "enum": ["5m", "15m", "30m", "1h", "2h", "4h", "6h", "12h", "1d"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Long/short ratio data"
          }
        }
      }
    }
  }
}
